/*CSS układu strony*/

/*Klasa HTML*/
body {
    margin: 0;
}
ul, li {
    padding: 0;
    list-style-type: none;
}
.grid-container {
    display: grid;
    /*Lepiej używać "fr" niż "%" - lepsze skalowanie ekranu*/
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
}
header{
    grid-column: span 3;
    text-align: center;
}
nav {
    padding: 30px; // odstęp
}
nav p {
    text-align: center;
}
article {
    padding: 30px;
}
article img {
    width: 100%;
}
article p {
    margin-top: 30px;
}
article h2 {
    max-width: 800px;
}
aside {
    padding: 30px;
}
footer {
    grid-column: span 3;
    text-align: center;
    padding: 30px;
}

/*Responsywność*/
@media screen and (max-width: 1200px) {
    nav{
        grid-column: span 3;
    }
    nav li {
        display: inline-block;
        margin-right: 10px;
    }
    article {
        grid-column: span 2;
    }
    aside {
        padding: 16px;
    }
}

@media screen and (max-width: 980px) {
    nav, article, aside {
        grid-column: span 3;
    }
    aside {
        text-align: center;
    }
}