/*CSS wyglądu
Import czcionki*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    font-family: "Poppins";
    background-image: url("img/background.jpg");
    background-size: 150%;
    position: center;
}

header {
    background-color: black;
    color: white;
}

nav {
    border-right: 1px solid grey;
}

nav p {
    background-color: black;
    color: white;

}

aside {
    border-left: 1px solid gray;

}

footer {
    border-top: 1px solid grey;
    color: whitesmoke;
}

article p {
    border: 1px solid black;
    padding: 10px;
    background-color: oldlace;
}

/*Responsywność*/
@media screen and (max-width: 1200px) {
    nav {
        border-right: 0;
        border-bottom: 1px solid #438fb5;
    }
}

@media screen and (max-width: 980px) {
    aside {
        border-left: 0;
        border-top: 1px solid #438fb5;
    }
}